<app-header backButton="/auth" title="Olvidé mi contraseña"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form
      [formGroup]="group"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-logo></app-logo>

      <app-custom-input
        icon="mail-outline"
        [control]="group.controls.email"
        type="email"
        label="Email"
        [required]="true"
        autoComplete="email"
      ></app-custom-input>
      <ion-button
        expand="block"
        shape="round"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="group.invalid"
      >
        Enviar
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
