<app-table [data]="data" [metaDataColumns]="metaDataColumns">
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row" class="alignBottom">
      <button
        mat-icon-button
        color="primary"
        (click)="onEditClick(row)"
        matTooltip="EDITAR"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="accent"
        (click)="delete(row.id)"
        matTooltip="ELIMINAR"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
</app-table>

<app-paginator
  class="paginator"
  (changePageEmitter)="changePage($event)"
  [length]="dataLength"
>
</app-paginator>
